//
// Header
//

.landing-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  min-height: $landing-header-min-height;
  padding-top: $landing-header-spacer-y;
  padding-bottom: $landing-header-spacer-y;
  color: $landing-header-text-color;
  text-align: center;
  background-color: $landing-header-bg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.landing-header::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  background-image: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65));
}

// Title
@include media-breakpoint-up(md) {
  .landing-header-title {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
}
.landing-header-title a {
  color: $landing-header-text-color;
  text-decoration: none;
}
.landing-header-title a:hover {
  color: $landing-header-text-color;
  text-decoration: none;
}

// Description
.landing-header-description {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: 300;
}

//
// Section
//

// Sizes
.landing-section-sm {
  padding: $landing-section-sm-spacer-y 0;
}
.landing-section-md {
  padding: $landing-section-md-spacer-y 0;
}
.landing-section-lg {
  padding: $landing-section-lg-spacer-y 0;
}
.landing-section-xl {
  padding: $landing-section-xl-spacer-y 0;
}

// Title
.landing-section-title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
@include media-breakpoint-up(md) {
  .landing-section-title {
    font-size: 3rem;
  }
}

// Description
.landing-section-description {
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}
@include media-breakpoint-up(md) {
  .landing-section-description {
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }
}

// Section 1

.landing-section-1 {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 8px #eee;
}

// Section 2

.landing-section-2 {
  background-color: #eee;
}

// Section 3

.landing-section-3 {
  background-color: #e5e5e5;
}

// Section 4

.landing-section-4 {
  background-color: #eee;
}

// Section 5

.landing-section-5 {
  background-color: #e5e5e5;
}

//
// Footer
//

.landing-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 95%;
  color: #333;
  text-align: center;
  background-color: #fff;

  a {
    font-weight: 500;
    color: #777;
    text-decoration: none;

    &:hover {
      color: #333;
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.landing-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
  list-style: none;

  li {
    display: inline-block;
  }
  li:not(:last-child) {
    margin-right: 5px;
  }
}
